#btnYes {
    position: absolute;
    left: 450px;
    top: 450px;
    background-color: #ee397f;
    font-size: 20px;
}

#btnNo {
    position: absolute;
    left: 800px;
    top: 450px;
    background-color: #ee3884;
    font-size: 20px;
}


input {
    width: 200px;
    font-size: 30px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
}

#ED {
    position: absolute;
    color: rgb(221, 41, 41);
    left: 20%;
    top: 5%;
    font-size: 70px;
}
.ed:after{
    content: " Phần mềm hacker lo ";
  } 

#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(img/bg.jpg); 
  background-size: cover;
  background-position: 50%;
  display: block;
}
