#btnYes {
    position: absolute;
    left: 480px;
    top: 450px;
    background-color: #7bd806;
    font-size: 20px;
}

#btnNo {
    position: absolute;
    left: 1200px;
    top: 450px;
    background-color: #1c0f6b;
    font-size: 20px;
}


input {
    width: 200px;
    font-size: 30px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
}

#ED {
    position: absolute;
    color: palevioletred;
    left: 30%;
    top: 19%;
    font-size: 70px;
}
.ed:after{
    content: "Bống Xinh đẹp hay Dam Dang? :>> ";
  } 

#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(img/bg.jpg); 
  background-size: cover;
  background-position: 50%;
  display: block;
}